*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.logo
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
}
.main_box
{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    /* top: 1px; */
    left: 10px;
    transition: 0.2s;
}
.sidebar_menu
{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgb(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.3);
    transition: 0.5s;
    border-radius: 30px;
}
.sidebar_menu .logo
{
    position: absolute;
    width: 100%;
    line-height: 50px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.3);
    border-radius:30px 30px 0 0 ;
}
.sidebar_menu .logo a
{
    position: absolute;
    left: 30px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.sidebar_menu .menu
{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
    line-height: 35px;
}
.main_box .social_media i
{
    position: absolute;
    top: 550px;
    left: 60px;
    font-size: 1.2em;
    color: white;
    opacity: 0.5;
    display: flex;
    gap: 60px;
}
  .main_box .social_media ul 
  {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .main_box .social_media a {
    color: white;
    opacity: 0.5;
    font-size: 1.2em;
  }
  
.sidebar_menu .btn_two
{
    color: grey;
    letter-spacing: 20px;
    font-size: 1.5em;
    position: absolute;
    left: 225px;
    pointer-events: stroke;
    /* opacity: 0; */
}
.sidebar_menu .btn_two i
{
    cursor: pointer;
    transition: 0.2s;
}
.sidebar_menu .btn_one
{
    cursor: pointer;
}
.sidebar_menu .menu li
{
    padding: 7px 30px;
}
.sidebar_menu .menu i,a
{
    color: white;
    text-decoration: none;
    position: relative;
    /* top: 20px; */
}
.sidebar_menu .menu a
{
    padding-left: 10px;
}
#check
{
    display: none;
}
#bars
{
    z-index: 3;
}
.sidebar_menu .menu li:hover
{
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.3);
}
.main_box .social_media i:hover
{
    opacity: 1;
    transform: scale(1.2);
}
.btn_one:hover
{
    font-size: 32px;
}
.btn_two:hover
{
    font-size: 27px;
}
#check:checked ~ .sidebar_menu
{
    left: 0px;
}
#check:checked ~ .btn_one
{
    display: none;
}
.btn_one
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    /* top: 1px; */
    left: 10px;
    transition: 0.2s;
}
.sidebar_menu
{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgb(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.3);
    transition: 0.5s;
    border-radius: 30px;
}